.component-login {
  background-image: url('/assets/images/login_footer.png');
  background-repeat: repeat-x;
  background-position: bottom;
  min-height: 100vh;
}

.component-login-header {
  background-image: url('/assets/images/login_background.jpg');
  background-repeat: repeat-x;
  background-position: top;
  min-height:400px;
  padding-top: 95px;
}

.component-login-inner {
  background-image: url('/assets/images/login_right_image.png');
  background-position: top right;
  background-repeat: no-repeat;
  width:765px;
  height:300px;
  margin: 0 auto;
  position:relative;
}

.component-login-univ {
  position: absolute;
  top: -25px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  padding-left: 30px;
  font-family: Verdana, Arial, Helvetica;
}

.component-login-logo {
  width: 285px;
  height: 61px;
  background-image: url('/assets/images/login_logo.png');
  background-position: 15px 8px;
  background-repeat: no-repeat;
}


h1 {
  height: 28px;
  padding-left: 15px;
  margin-top: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #0c74b8;
  font-family: Verdana;
  border: solid black;
  border-width: 0 0 1px 0;
  width: 315px;
}

.component-login-table label{
  display: block;
  height: 25px;
  font-size: 12px;
  color: #525659;
  font-weight: bold;
  font-family: Verdana;
  text-align: right;
  padding-right: 12px;
  width: 110px;
}
.component-login-button {
  background-image: url('/assets/images/login_button.png');
  FONT-SIZE: 12px;
  background-color: transparent;
  FONT-FAMILY: Verdana;
  font-weight: bold;
  TEXT-DECORATION: none;
  border: 0px;
  width: 172px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  display: block;
}
.component-login-error {
  color:#F00;
  text-align: center;
  width: 300px;
  display: block;
  font-weight: bold;
  margin-top: 8px;
}
.component-login-success {
  color:#090;
  text-align: center;
  width: 300px;
  display: block;
  font-weight: bold;
  margin-top: 8px;
}
