.component-subject {
  background:#eee;
  border: solid #aaa 1px;
  border-radius: 2px;
  display: flex;
  margin: 0 auto 10px auto;
  max-width: 800px;
  padding: 5px;

  flex-direction: row;
}
.component-subject .info{
  display: none;
}

.component-subject.opened {
  flex-direction: column;
}
.component-subject.opened .info{
  display: block;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  min-width: 80px;
}

.component-subject-name{
  flex-grow: 1;
}
